<!DOCTYPE html>
<html lang="en">
<head>
	<title>HumanMatrix</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" id="loginForm" action="javascript:void(0);">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="../static/images/avatar-01.jpg" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="inputEmail">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="inputPassword">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="makeLogin('standard')">Login</button>
					</div>	
					<br/>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="makeLogin('github')">Login via Github</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
    <div id="message-layer" class="message-layer"></div>
	<div id="dropDownSelect1"></div>
	
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/utils.js"></script>

	<script type="text/javascript">
	function makeLogin(type){
		if(type== 'standard'){
			post('validateLogin', {
				'inputEmail': $('form[id="loginForm"] input[name="inputEmail"]').val(),
				'inputPassword': $('form[id="loginForm"] input[name="inputPassword"]').val(),
			}, function(data){
				location.href="/";
			}, function(data){});
		}else if (type=='github'){
			post('validateGithubLogin', {
				'inputEmail': $('form[id="loginForm"] input[name="inputEmail"]').val(),
				'inputPassword': $('form[id="loginForm"] input[name="inputPassword"]').val(),
			}, function(data){
				location.href="/";
			}, function(data){});
		}
	}
	</script>

</body>
</html>